<div class="row">

    <div class="col-md-10 col-sm-12 ml-auto mr-auto">
        <div class="card card-calendar">
            <div class="card-body ">
                <div id="fullCalendar"></div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="modal_detalle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form (ngSubmit)="onSubmit(registroForm)" #registroForm="ngForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-left"> Registro para el día {{ fecha_seleccionada }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-sm-2 col-form-label"> Proyecto </label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <select style="width:100%" [(ngModel)]="registro.proyecto" name="proyecto" id="proyecto_form">
                                    <option *ngFor="let proyecto of proyectos" [value]="proyecto.valor">{{ proyecto.nombre }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center" *ngIf="modo === 'new'">
                            <button class="btn btn-primary btn-link">Agregar Proyecto</button>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label"> Actividad </label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <select style="width:100%" [(ngModel)]="registro.actividad" name="actividad" id="actividad_form">
                                    <option *ngFor="let actividad of actividades" [value]="actividad.valor">{{ actividad.nombre }}</option>
                                </select>
                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label"> Horas </label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="registro.horas" name="horas" class="form-control timepicker" id="horas_form">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <textarea class="form-control" [(ngModel)]="registro.descripcion" name="descripcion" placeholder="Descripción" rows="3" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!registroForm.form.valid">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>