<app-cargando [mostrar]="cargando"></app-cargando>

<div class="row" *ngIf="_ls.rol_usuario !== '3'">
    <div class="ml-auto">
        <div class="col-md-12">
            <button (click)="router.navigate(['/gestion-documental/nuevo'])" class="btn btn-primary">
                Nuevo Tema
            </button>
        </div>
    </div>
</div>

<app-tabla *ngIf="datos.length > 0" [titulo]="titulo" [columnas]="columnas" [datos]="datos" (id_redireccion)="recibir_redireccion($event)" (id_editar)="edicion_redireccion($event)">

</app-tabla>