<div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo text-center">
        <a class="simple-text logo-normal">
      Valor Máximo
      </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img [src]="foto" />
            </div>
            <div class="user-info">
                <a class="username">
                    <span>
                      {{ nombre }}
                  </span>
                </a>
            </div>
        </div>
        <ul class="nav">
            <li *ngIf="_ls.rol_usuario === '1' || _ls.rol_usuario === '4'" class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#colapse_administracion">
                    <i class="material-icons">image</i>
                    <p> Administración
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="colapse_administracion">
                    <ul class="nav">
                        <li class="nav-item" id="item_admin_alianzas">
                            <a routerLink="/admin/alianzas" routerLinkActive="sidebar-activo" class="nav-link">
                                <span class="sidebar-mini"> A </span>
                                <span class="sidebar-normal"> Alianzas </span>
                            </a>
                        </li>
                        <li class="nav-item" id="item_admin_clientes">
                            <a routerLink="/admin/empresas" routerLinkActive="sidebar-activo" class="nav-link">
                                <span class="sidebar-mini"> E </span>
                                <span class="sidebar-normal"> Empresas </span>
                            </a>
                        </li>
                        <li class="nav-item" id="item_admin_proyectos">
                            <a routerLink="/admin/proyectos" routerLinkActive="sidebar-activo" class="nav-link">
                                <span class="sidebar-mini"> P </span>
                                <span class="sidebar-normal"> Proyectos </span>
                            </a>
                        </li>
                        <li class="nav-item" id="item_admin_solicitudes">
                            <a routerLink="/admin/solicitudes" routerLinkActive="sidebar-activo" class="nav-link">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Solicitudes </span>
                            </a>
                        </li>
                        <li class="nav-item" id="item_admin_usuarios">
                            <a routerLink="/admin/usuarios" routerLinkActive="sidebar-activo" class="nav-link">
                                <span class="sidebar-mini"> U </span>
                                <span class="sidebar-normal"> Usuarios </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a routerLink="/main" routerLinkActive="sidebar-activo" class="nav-link">
                    <i class="material-icons">dashboard</i>
                    <p> Eventos </p>
                </a>
            </li>
            <li class="nav-item" id="item_horas">
                <a routerLink="/registro-horas" routerLinkActive="sidebar-activo" class="nav-link">
                    <i class="material-icons">calendar_today</i>
                    <p> Registro de Horas </p>
                </a>
            </li>
            <li class="nav-item" id="item_documentos">
                <a routerLink="/gestion-documental" routerLinkActive="sidebar-activo" class="nav-link">
                    <i class="material-icons">folder</i>
                    <p> Gestión Documental </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#colapse_perfil">
                    <i class="material-icons">person</i>
                    <p> Perfil
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="colapse_perfil">
                    <ul class="nav">
                        <li class="nav-item" id="item_info_personal">
                            <a routerLink="/pefil/info-personal" routerLinkActive="sidebar-activo" class="nav-link">
                                <span class="sidebar-mini"> IP </span>
                                <span class="sidebar-normal"> Información Personal </span>
                            </a>
                        </li>
                        <li class="nav-item" id="item_exp_laboral" style="display:none">
                            <a class="nav-link">
                                <span class="sidebar-mini"> El </span>
                                <span class="sidebar-normal"> Experiencia Laboral </span>
                            </a>
                        </li>
                        <li class="nav-item" id="item_educacion" style="display:none">
                            <a class="nav-link">
                                <span class="sidebar-mini"> EE </span>
                                <span class="sidebar-normal"> Educación y Estudios </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item" id="item_solicitudes">
                <a routerLink="/solicitudes" routerLinkActive="sidebar-activo" class="nav-link">
                    <i class="material-icons">content_paste</i>
                    <p> Solicitudes </p>
                </a>
            </li>
            <li *ngIf="_ls.rol_usuario === '1' || _ls.rol_usuario === '4'" class="nav-item" id="item_propuestas">
                <a routerLink="/propuestas" routerLinkActive="sidebar-activo" class="nav-link">
                    <i class="material-icons">class</i>
                    <p> Propuestas </p>
                </a>
            </li>
        </ul>
    </div>
</div>