
<div class="row">

    <div class="col-md-8 col-sm-12">
        <div class="card card-calendar">
            <div class="card-body ">
            <div id="fullCalendar"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 text-center">
        <h4>Cumpleaños del mes</h4>
        <div class="row">
            <div class="col-md-6 col-sm-4">
                <div class="card card-profile ml-auto mr-auto" style="max-width: 360px">
                    <div class="card-header card-header-image">
                        <img class="img" src="../assets/img/faces/avatar.jpg">
                    </div>
                    <div class="card-body ">
                        <h4 class="card-title">Nombre Apellido</h4>
                        <h6 class="card-category text-gray">Fecha</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
