<app-cargando [mostrar]="cargando"></app-cargando>

<div class="row">

    <div class="col-md-8 col-sm-12">
        <div class="card card-calendar">
            <div class="card-body ">
                <div id="fullCalendar"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 text-center">
        <h4>Cumpleaños del mes</h4>
        <div class="row">
            <div *ngFor="let usuario of _us.cumpleanos" class="col-md-6 col-sm-4">
                <div class="card card-profile ml-auto mr-auto" style="max-width: 360px">
                    <div class="card-header card-header-image">
                        <img class="img" [src]="usuario.foto | imagen">
                    </div>
                    <div class="card-body ">
                        <h4 class="card-title">{{ usuario.usuario | nombre }}</h4>
                        <h6 class="card-category text-gray"> {{ usuario.fecha_nacimiento | soloMes }}</h6>
                    </div>
                </div>
            </div>
            <div *ngIf="_us.cumpleanos.length === 0" class="col-md-10 col-sm-12 ml-auto mr-auto">
                <h3>No hay cumpleaños este mes</h3>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_detalle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form (ngSubmit)="onSubmit(eventoForm)" #eventoForm="ngForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-left"> Evento para el día {{ fecha_mostrar }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-sm-2 col-form-label"> Titulo </label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input type="text" [(ngModel)]="evento.titulo" name="titulo" class="form-control" required>
                                </div>
                            </div>
                            <label [hidden]="modo_modal === 'detalle'" class="col-sm-2 col-form-label"> Color </label>
                            <div [hidden]="modo_modal === 'detalle'" class="col-sm-10">
                                <div class="form-group">
                                    <select style="width:100%" name="color" id="color_form">
                                        <option value="event-default">Gris</option>
                                        <option value="event-azure">Azul</option>
                                        <option value="event-green">Verde</option>
                                        <option value="event-orange">Naranja</option>
                                        <option value="event-red">Rojo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button [hidden]="modo_modal === 'detalle'" [disabled]="cargando" type="submit" class="btn btn-primary" [disabled]="!eventoForm.form.valid">
                            <i [hidden]="!cargando" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            Guardar
                        </button>
                        <button *ngIf="_ls.rol_usuario === '1'" [hidden]="modo_modal === 'nuevo'" [disabled]="cargando" type="submit" class="btn btn-danger" [disabled]="!eventoForm.form.valid">
                            <i [hidden]="!cargando" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            Eliminar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>